html{
    font-size:62.5%;
}

/*SELECT THEME*/
.container_theme{
    border: 1px solid;
    border-radius: 5px;
    position: fixed;
    top: 10px;
    right:30px;
}
#select_theme{
    text-align: left;
    font-size: 1.2em;
    padding:30px;
    margin:10px;
}
#select_theme option{
    margin:0 50px;
}

/*HEADER*/
header nav{
    justify-content: center;
    flex-wrap: wrap;

}
.contenedor{
    display: -webkit-flex;
    display: -ms-flexbox;
    flex-wrap: wrap;
    justify-content: center;
}
.descripcion{
    flex-grow: 1;
}
.contenedor--textos{
    min-width: 600px;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: auto 10px;
}
.col > ul{
    position: absolute;
    outline: solid;
    display: none;
    margin-top: 0;
    margin-left: 0;
    padding: 10px;
}
.col:hover ul{
    display: block;
}
.col ul li{
    list-style-type: none;
    text-decoration: none;
    font-size: 14px;
    padding: 10px;
}
.border-5{
    border-radius: 5px;;
}
.title{margin: 20px 0;font-size: 2em;}
.lista>li{font-size: 13px;}

#enviar{
padding:8px 16px;
margin-top:20px;
display:block;
}
.bold{font-weight: bold;}
.d-inline{display: inline;}
.d-none{display: none;}
.d-inlineB{display: inline-block;}
.text-center{text-align:center;}
.pie{
    width: 100%;
    margin: 0 auto;
    font-weight: bold;
    font-size: 20px;
    position: fixed;
    bottom:15px;
    text-align: center;
}
