html{
    font-size:62.5%;
}
body{
    font-size:1.6em;
}
li{
    text-decoration: none;
    list-style: none;
}
.invisible{
    display: none;
}
.container_flex{
    display:flex;
}
h1.title{
    font-size: 2em;
    text-align: center;
}
/*SELECT THEME*/
.container_theme{
    border: 1px solid;
    border-radius: 5px;
    position: fixed;
    top: 10px;
    right:30px;
}
#select_theme{
    text-align: left;
    font-size: 1.2em;
    padding:30px;
    margin:10px;
}
#select_theme option{
    margin:0 50px;
}

/*HEADER*/
header nav{
    justify-content: center;
    flex-wrap: wrap;

}
header nav div{
    position: relative;
    font-size:1.5em;
    margin:15px;
    min-width: 150px;
}
header nav div:hover ul{
    background-color: inherit;
    display:block;
}
.listaU{
    position: absolute;
    color: inherit;
    padding: inherit;
    margin: 0;

}
.listaU li{
    font-size: 1em;
    text-align: left;
}
footer{
    position:fixed;
    left:0;
    right:0;
    bottom:0;
}
footer p{
    font-size: 1.8em;
    text-align:center;
}